PORT = 8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = Hafiz_Ramzan_Ali
ACCESS_TOKEN_EXPIRY = 30second
REFRESH_TOKEN_SECRET = Hafiz_Ramzan_Ali
REFRESH_TOKEN_EXPIRY = 10day

CLOUDINARY_CLOUD_NAME =Hafiz_Ramzan_Ali
CLOUDINARY_API_KEY=Hafiz12345678910
CLOUDINARY_API_SECRET=Hafiz_Ramzan_Ali



MONGO_URI=mongodb+srv://hafiz:hafiz123@cluster0.2s7lynm.mongodb.net